* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aenoic-Normal;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;

}


:root {

    --pri: #F8F4E1;
    --sec: #512f18;
    --tri1: #FEBA17;
    --tri2: #B4846C;
}


@font-face {
    font-family: Aenoic-Bold;
    src: url(./Fonts/fonnts.com-Aeonik-Bold.ttf);
}

@font-face {
    font-family: Aenoic-Normal;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}


#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: var(--tri2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 30px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;


}

.elem {
    background-color: var(--tri1);

    border-radius: 20px;
    font-size: 50px;
    height: 290px;
    width: 280px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 25px;
    font-weight: 400;
}

.elem:active {
    scale: 0.9;
}

.fullElems {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    display: none;
    position: absolute;
}





.back {
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    background-color: red;
    border: none;
    outline: none;
    position: absolute;
    top: 3%;
    right: 3%;
    transition: all 0.6s ease;
    cursor: pointer;
}

.back:active {
    scale: 0.8;
}

.todo-list-fullpage h2 {
  font-size: 40px;
  color: var(--pri);
  font-weight: 500;
  padding: 20px;
}

.todo-list-fullpage.todo-list-fullpage{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
 display: block;
    
   
}
.task-section{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 20px;
 
    display: flex;
   margin-top: 30px;
    gap: 20px;
}
.todo-list-fullpage.todo-list-fullpage .add-task{
   height: 70%;
   width: 30%;
   background-color: var(--tri2);
   border-radius: 20px;
   padding: 30px;
}
.todo-list-fullpage.todo-list-fullpage .all-task{
   height: 70%;
   width: 65%;
   background-color: var(--tri2);
   border-radius: 20px;
}
.add-task form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.add-task form input{
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--sec);
    font-size: 20px;
    width: 100%;
}

.add-task form textarea{
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--sec);
    font-size: 20px;
    width: 100%;
    height: 200px;
 
}


.add-task button{
    width: 100%;
    padding: 15px 25px;
    color: var(--pri);
    background-color: var(--tri1);
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: all ease 0.6s;
    cursor: pointer;
}
.add-task button:active{
    scale: 0.9;
}
.all-task{
    padding: 20px;
}

.all-task .task{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--pri);
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--sec);
}
.task button{
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: green;
    font-size: 15px;
    cursor: pointer;
}
